<tr class='stdCardRow {% if evenrow %} EvenResultRow {% else %} OddResultRow {% endif %}'>	
<td>
	{# <a href="{{ card.imageurl|raw }}" > #}
	<a target='_blank' href="carddetails.php?id={{ card.id }}&amp;set={{ card.sets[0].code }}" >
		<img src="{{ card.imageurl|raw }}" alt="{{ card.name }}" class = 'cardimage-standard'/>
	</a>
</td>
<td class='stdMiddleColumn' >
	<a class='cardtitle' target='_blank' href="carddetails.php?id={{ card.id }}&amp;set={{ card.sets[0].code }}" >
		{{ card.name|raw }}
	</a>
	{% autoescape false %}{{ card.cost}} {% endautoescape %} ({{ card.cmc }}) 
	
	</br>
	{{ card.type }}
	{% if card.subtype %}
		&mdash; {{ card.subtype }}
	{% endif %}
	{% if card.power is not null and card.toughness is not null %}
		({{ card.power }}/{{ card.toughness }})
	{% elseif card.loyalty is not null %}
		({{ card.loyalty }})
	{% elseif card.handmod and card.lifemod %}
		({{ card.handmod }}/{{ card.lifemod }})
	{% endif %}
	</br>
	{% if card.rules %}
		{% autoescape false %} {{ card.rules|raw }}{% endautoescape %}
	{% endif %}
	</br>
	
	{% spaceless %}
	<a href="javascript:void()"
		onclick="onShowTagField({{ card.id }})" >
		<img src="images/tag_small.png"alt="Add Tag" style="vertical-align:bottom" />
	</a>
	{% endspaceless %}
	
	<span id="tag_input_{{ card.id }}" style="display:none" >
		<select id="add_tag_{{ card.id }}">
		{% for tag in tags %}
			<option value="{{ tag.id }}" >{{ tag.name }}</option>
		{% endfor %}
		</select>
		<input type="button" value="Add" onclick="javascript:onAddTag( {{ card.id}} )" />
		
		<input type="text" size="15" id="tag_name_{{ card.id }}" />
		<input type="button" value="Create" onclick="javascript:onCreateTag({{ card.id }})" />
	</span>
	
	<span id="tagList_{{ card.id }}">
		{% for tag in card.tags %}
			<span class="tag" id="tag_{{ card.id }}_{{ tag.id }}" >{{ tag.name }}
				<a href="javascript:void()" onclick="javascript:onRemoveTag( {{ card.id }}, {{ tag.id }} )" >
					<img alt="x" src="images/remove_x.png" />
				</a>
			</span>
		{% endfor %}
	</span>
</td>
<td class='StandardSetsColumn'>
{% if showOwnerships %}
	<b>Total: {{ card.total }}</b>
	<hr>
{% endif %}
{% for set in card.sets %}
	{% spaceless %}
		{% if showOwnerships %}
			{{ set.count }}x
		{% endif %}
		<a target='_blank' href="carddetails.php?id={{card.id}}&amp;set={{set.code}}" >
			<img src="{{ set.symbolurl }}" alt="{{ set.code }}"
			title="{{ set.name }}"/>
		</a>
	{% endspaceless %} 
{% endfor %}
</td>	
</tr>
